<div class="container">
<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
<div class="user-form">
<%= form_tag({controller: "users", action: "update"}, {method: "put"}) do %>

  <div class="allergies-wrapper">
  <% @allergies.each do |a| %>
  <div class="allergy-select">
    <% if @user.allergies.include?(a) %>
      <%= check_box_tag "allergies[]", a.id, false, {id: a.name, class: "hidden", checked: true} %>
      <%= label_tag "allergies[]", a.name.capitalize, {for: a.name, class: "btn btn-default"}%>

    <% else %>
      <%= check_box_tag "allergies[]", a.id, false, {id: a.name, class: "hidden"} %>
      <%= label_tag "allergies[]", a.name.capitalize, {for: a.name, class: "btn btn-default"}%>
    <% end %>
  </div>
  <% end %>
  </div>
  
  <%= submit_tag "Update", class: "btn btn-large submit-btn"%>
<% end %>
</div>
</div>
<div class="col-md-3"></div>
</div>
</div>
