<div class="container">
<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
<div class="user-form">
<h2>Edit User Profile</h2>
<%= form_tag({controller: "users", action: "update"}, {method: "put"}) do %>
<div class="avatar-edit">
  <div class="user-avatar"><%= image_tag @user.avatar.url(:medium) %></div>
    <div>Change avatar</div>
  <div class="fileUpload btn btn-primary">
  <%= label_tag :avatar, "Upload" %>
  <%= file_field_tag :avatar, class: "upload" %>
  </div>
  </div>

  <div class="allergies-wrapper">
  <% @allergies.each do |a| %>
  <div class="allergy-select">
    <% if @user.allergies.include?(a) %>
      <%= check_box_tag "allergies[]", a.id, false, {id: a.name, class: "hidden", checked: true} %>
      <%= label_tag "allergies[]", a.name.capitalize, {for: a.name, class: "btn btn-default"}%>

    <% else %>
      <%= check_box_tag "allergies[]", a.id, false, {id: a.name, class: "hidden"} %>
      <%= label_tag "allergies[]", a.name.capitalize, {for: a.name, class: "btn btn-default"}%>
    <% end %>
  </div>
  <% end %>
  </div>
  <div class="submit-wrapper">
  <%= submit_tag "Update", class: "btn btn-large submit-btn"%>
  </div>
<% end %>
</div>
</div>
<div class="col-md-3"></div>
</div>
</div>
