<div class="cover-background">
<div class="container">
<div class="row welcome-row">
<div class="col-md-3"></div>
<div class="welcome-wrapper col-md-6">
<h3>We provide dining options to people with dietary restrictions.</h3>
</div>
<div class="col-md-3"></div>
</div>
<div class="row search-form-row">
<div class="col-md-3"></div>
<div class="col-md-6 search-form-wrapper">
<div class="search-form">
<%= form_tag({controller: "restaurants", action: "search_results"}, {method: "get"}) do %>
  <div class="row">
    <div class="location col-md-8">
      <%= text_field_tag :location, nil, {class: "location-field", placeholder: "Address or Zip Code"} %>
    </div>
    <div class="distance col-md-4">
      <%= text_field_tag :distance, nil, {class: "distance-field", placeholder: "Distance (miles)"} %>
     </div>
   </div>
  
  <div class="allergies-wrapper">
  <% @allergies.each do |a| %>
  <div class="allergy-select">
    <%= check_box_tag "allergies[]", a.id, false, {id: a.name, class: "hidden"} %>
    <% if a.dishes.empty? %>
    <%= label_tag "allergies[]", a.name, {for: a.name, class: "btn btn-default btn-greyed "}%>
    <% else %>
    <%= label_tag "allergies[]", a.name, {for: a.name, class: "btn btn-default"}%>
    <% end %>
  </div>
  <% end %>
  <% if user_signed_in? %>
    <%= check_box_tag "user_allergies", true, false, {id: "user_allergies", class: "hidden"} %>
    <%= label_tag "user_allergies", "Use my allergies", {for: "user_allergies", class: "btn btn-default"}%>
  <% end %>
  </div>

  <%= submit_tag "Find", class: "btn btn-large submit-btn"%>

  <% if can? :create, Restaurant %>
  <div class="bottom-link">
    <%= link_to "Add Restaurant", new_restaurant_path %>
  </div>
  <% else %>
    <div class="bottom-link"><%= link_to "Suggest a restaurant", "https://docs.google.com/a/catlin.edu/forms/d/e/1FAIpQLSen0ZZfoswU9qfFZ97dmd49o7c21rHZJjooX9_jgrTB-QikhQ/viewform"  %></div>
  <% end %>

<% end %>
</div>
</div>
<div class="col-md-3"></div>
</div>

</div>
</div>