<div class="container">
<div class="row restaurant-info">
  <div class="col-md-1"></div>
  <div class="col-md-10">
  <h1><%= @restaurant.name %></h1>
<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8">
<% if @restaurant.photos.size > 0 %>
<div class="carousel-container">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <% @restaurant.photos.size.times do |i| %>
    <li data-target="#carouselExampleIndicators" data-slide-to="<%=i%>" class="active"></li>
    <% end %>
    </ol>
  
  <div class="carousel-inner" role="listbox">
    <% @restaurant.photos.each_with_index do |p, i| %>
      <% if i == 0 %>
        <div class="item active">
          <%= image_tag p.image.url(:large), { class: "d-block img-fluid", alt: "#{(i+1).ordinalize} slide" }%>
        </div>
      <% else %>
        <div class="item">
          <%= image_tag p.image.url(:large), { class: "d-block img-fluid", alt: "#{(i+1).ordinalize} slide" }%>
        </div>
      <% end %>
    
    <% end %>
  </div>
  <% if @restaurant.photos.size > 1 %>
  <div class="carousel-control">
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  </div>
  <% end %>
</div>
</div>
<% end %>
</div>
<div class="col-md-2"></div>
</div>
<div class="row">
  <div class="col-md-6 restaurant-details">
  <% if user_signed_in? %>
<%= link_to "Add a photo of this restaurant!", edit_restaurant_path(id: @restaurant.id) %>
<% end %>
   <div class="review-rating">
    <% @restaurant.average_rating.times do |i| %>
      <span class="glyphicon glyphicon-star"></span>
    <% end %>
    </div>
  <%= @restaurant.price_range %> • <%= @restaurant.cuisine %>
  </div>
  <div class="col-md-6">
  <div class="restaurant-area">
    <span class="restaurant-address"><%= @restaurant.address %></span><br>
    <%= @restaurant.area %><br>
    <%= @restaurant.hours %>
  </div>
  <div class="restaurant-contact">
    <%= @restaurant.phone_number%><br>
    <%= link_to "Website", "http://#{@restaurant.url}", target: "_blank" %>
  </div>
  </div>
  </div>
  </div>
  

 <div class="col-md-1"></div>
 </div>

<div class="dishes-container">
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10"><span class="heading"><h3>Dishes</h3></span></div>
  <div class="col-md-1"></div>
</div>
<% @dishes.each do |d| %>
<div class="dish">
  <div class="row">
  <div class="col-md-1"></div>
    <div class="col-md-10">
        <h4><%= d.name %></h4>
    <% if d.dish_allergies.any? %>
    <p>Accomodates the following food restrictions:</p>
    <% end %>

    <% d.dish_allergies.each do |da| %>
      <div class="allergen">
        <div class="row">
        <div class="col-md-2"><%= image_tag da.allergy.icon.url(:thumb) %></div>
          <div class="col-md-10"><span class="allergen-name"><h5><%= da.allergy.name %></h5></span>
          <p><%= da.modification.description if da.modification %></p>
          </div>
        </div>
      </div>
  <% end %>
    </div>
    <div class="col-md-1"></div>

    


</div>
</div>
<% end %>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10 new-review-container">
<span class="heading"><h3>Write a Review</h3></span>
    <% if user_signed_in? %>
    <%= form_for @review, url: reviews_path(@review), html: { method: :post, class: "review-form" } do |f| %>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-8"><%= f.number_field :rating, {class: "rating", required: true }%></div>
      <div class="col-md-1"></div>
    </div>
    <div class="row">

      <div class="col-md-3">
        <div class="user-box">
        <div class="user-avatar"><%= image_tag current_user.avatar.url(:thumb) %></div>
          <span><%= link_to current_user.username, current_user %></span>
        </div>
      </div>
      <div class="col-md-8 field">
      <%= f.text_area :text, {rows: 8, required: true } %>
      </div>
      <div class="col-md-1"></div>
    </div>
      <%= f.hidden_field :restaurant_id, value: @restaurant.id %>
    <div class="row">
      <div class="col-md-9"></div>
      <%= f.submit "Submit", class: "btn btn-default col-md-2" %>
      <div class="col-md-1"></div>
    </div>
    <% end %>
    <% else %>
      <p><%= link_to "Sign in", new_user_session_path %> or <%= link_to "sign up",new_user_registration_path %> to review this restaurant!</p>
    <% end %>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10 reviews-container">
<span class="heading"><h3>Reviews</h3></span>
<% @reviews.each do |review| %>
  <div class="review row">
  <div class="col-md-3">
  <div class="user-box">
  <div class="user-avatar"><%= image_tag review.user.avatar.url(:thumb) %></div>
  <span><%= link_to review.user.username, user_path(review.user) %></span>
  </div>
  <% if review.user == current_user %>
   <div><span class="delete-review-link"><span class="glyphicon glyphicon-remove"></span>     <%= link_to 'Delete', review,  method: :delete, data: { confirm: 'Are you sure?' } %>
</span></div>
  <% end %>
  </div>
  <div class="col-md-8 review-details">
  <div class="review-rating">
  <% review.rating.times do |i| %>
    <span class="glyphicon glyphicon-star"></span>
  <% end %>
  </div>
  <div class="review-text">
  <%= review.text %>
  </div>
  </div>
  <div class="col-md-1"></div>
  </div>
<% end %>
<% if @reviews.empty? %>
  <p>No reviews yet. Why don't you write one?</p>
<% end %>
</div>
<div class="col-md-1"></div>

</div>
</div>
