<div class="container">
<div class="row restaurant-info">
  <div class="col-md-1"></div>
  <div class="col-md-10">
  <h1><%= @restaurant.name %></h1>
  <div class="col-md-6 restaurant-details">
   <div class="review-rating">
    <% @restaurant.average_rating.times do |i| %>
      <span class="glyphicon glyphicon-star"></span>
    <% end %>
    </div>
  <%= @restaurant.price_range %> • <%= @restaurant.cuisine %>
  </div>
  <div class="col-md-6">
  <div class="restaurant-area">
    <span class="restaurant-address"><%= @restaurant.address %></span><br>
    <%= @restaurant.area %><br>
    <%= @restaurant.hours %>
  </div>
  <div class="restaurant-contact">
    <%= @restaurant.phone_number%><br>
    <%= link_to "Website", "http://#{@restaurant.url}", target: "_blank" %>
  </div>
  </div>
  
 
</div>
 <div class="col-md-1"></div>
 </div>

<div class="row">
<div class="col-md-1"></div>
<div class="dishes-container col-md-10">
<span class="heading"><h3>Dishes</h3></span>
<% @dishes.each do |d| %>
  <div class="dish row">
    <h4><%= d.name %></h4>
    <p>Accomodates the following food restrictions:</p>
    
    
    <% d.dish_allergies.each do |da| %>
      <div class="row">
      <div class="col-md-1"></div>
      <div class="allergen col-md-10">
        <span class="allergen-name"><h5><%= da.allergy.name.capitalize %></h5></span>
        <% if da.modification %>
        <p>Modification: <%= da.modification.description %></p>
      </div>
      <div class="col-md-1"></div>
      </div>
    <% end %>
    
    
  <% end %>
  </div>
<% end %>
</div>
<div class="col-md-1"></div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10 new-review-container">
<span class="heading"><h3>Write a Review</h3></span>
    <% if user_signed_in? %>
    <%= form_for @review, url: reviews_path(@review), html: { method: :post, class: "review-form" } do |f| %>

    <div class="row">
      <div class="col-md-3">
        <div class="user-box">
        <div class="user-avatar"><%= image_tag current_user.avatar.url(:thumb) %></div>
          <span><%= link_to current_user.username, current_user %></span>
        </div>
      </div>
      <div class="col-md-8 field">
        <%= f.number_field :rating, {class: "rating", required: true }%>
      <%= f.text_area :text, {rows: 8, class: "col-md-12", required: true } %>
      </div>
      <div class="col-md-1"></div>
    </div>
      <%= f.hidden_field :restaurant_id, value: @restaurant.id %>
    <div class="row">
      <div class="col-md-9"></div>
      <%= f.submit "Submit", class: "btn btn-default col-md-2" %>
      <div class="col-md-1"></div>
    </div>
    <% end %>
    <% else %>
      <p><%= link_to "Sign in", new_user_session_path %> or <%= link_to "sign up",new_user_registration_path %> to review this restaurant!</p>
    <% end %>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10 reviews-container">
<span class="heading"><h3>Reviews</h3></span>
<% @reviews.each do |review| %>
  <div class="review row">
  <div class="col-md-3">
  <div class="user-box">
  <div class="user-avatar"><%= image_tag current_user.avatar.url(:thumb) %></div>
  <span><%= link_to review.user.username, user_path(review.user) %></span>
  </div>
  <% if review.user == current_user %>
   <div><span class="delete-review-link"><span class="glyphicon glyphicon-remove"></span>     <%= link_to 'Delete', review,  method: :delete, data: { confirm: 'Are you sure?' } %>
</span></div>
  <% end %>
  </div>
  <div class="col-md-8 review-details">
  <div class="review-rating">
  <% review.rating.times do |i| %>
    <span class="glyphicon glyphicon-star"></span>
  <% end %>
  </div>
  <div class="review-text">
  <%= review.text %>
  </div>
  </div>
  <div class="col-md-1"></div>
  </div>
<% end %>
<% if @reviews.empty? %>
  <p>No reviews yet. Why don't you write one?</p>
<% end %>
</div>
<div class="col-md-1"></div>

</div>
</div>
